extends layout

block content
    h1= title
    p Welcome to our League of Legends API

    // Wrapper
    #wrapper

        // Champion INFO
        #ChampionInfo
            h2 Champion Info
            p
                strong Name:
                |  <span id='ChampionInfoName'></span>
                br
                strong Rank:
                |  <span id='ChampionInfoRank'></span>
                
        // /Champion INFO

        // Champion LIST
        h2 Champion List
        #ChampionList
            table
                thead
                    th ChampionName
                    th Rank
                    th Delete?
                tbody
        // /Champion LIST
        
        // ADD Champion
        h2 Add Champion
        #addChampion
            fieldset
                input#inputChampionName(type='text', placeholder='Name')
                input#inputChampionRank(type='text', placeholder='Rank')
                br
                button#btnAddChampion Add Champion
        // /ADD Champion
        
    // /WRAPPER
